{
   "trailingComma": "none",
   "tabWidth": 4,
   "useTabs": false,
   "semi": true,
   "singleQuote": true,
   "jsxBracketSameLine": false,
   "arrowParens": "avoid",
   "printWidth": 100,
   "proseWrap": "preserve"
}
