.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: white;
}

/*     color of icon when finished step        */
.ant-steps-item-finish .ant-steps-item-icon {
    background-color: green;
    border-color: white;
}

.ant-steps-item-title {
    font-size: 0;
}
