.Dropdown-root {
    position: relative;
    width: 100%;
    margin-bottom: 16px !important;
    font-family: 'Avenir';
    font-size: 1.3em !important;
    font-weight: 500;
    height: 40px;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color:#E2DDDD !important;
    border: none;
    box-sizing: border-box;
    color: #000000 !important;
    cursor: pointer;
    outline: none;
    padding: 10px 52px 10px 12px !important;
    transition: all 200ms ease;
}

.Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
    border-color: #E2DDDD !important;
    border-style: solid;
    border-width: 10px 10px 0;
    content: '';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 25px;
    top: 20px;
    width: 0;
}

.is-open .Dropdown-arrow {
    border-color: rgba(35, 51, 77, 1);
    border-width: 0 5px 5px;
}

.Dropdown-menu {
    background-color: rgba(35, 51, 77, 1);
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    font-weight: normal;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 8px 10px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-weight: bold;
}

.Dropdown-option {
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
    background-color: #011931;
    color: white;
}

.Dropdown-option.is-selected {
    background-color: #011931;
    color: white;
}

.Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}
