/* @font-face {
	font-family: 'MrEavesXL';
	src: local('MrEavesXL'), url(../fonts/MrEavesXLModNarOT-Reg.ttf) format('truetype');
} need to fix import-bug */

body {
	background-color: #101D33;
	font-family: 'Avenir';
	color: white;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: #092139;
	padding: 1.5rem;
	margin-bottom: 1rem;
}

nav li {
	display: inline-block;
	margin-right: 2rem;
}

h1 {
	font-family: 'Avenir';
	font-size: 1.5em;
	color: white;
	font-weight: 800;
}

h2 {
	font-size: 1.3em;
	color: white;
	font-weight: 800;
	margin-bottom: 0.2rem;
}

.infoTitle {
	font-size: 1em;
	color: white;
	font-weight: 800;
	margin-bottom: 0.2rem;
}

.player {
	font-size: 1em !important;
	font-weight: 500;
	cursor: pointer;
}

.sum {
	font-size: 0.8em;
	margin-top: -0.6rem;
}

.player_price {
	font-size: 0.8em;
	font-weight: bold;
}

.info {
	width: 20px;
}

.labelPosition {
	font-style: italic;
	font-weight: 600;
	font-size: 1.1em;
}

 .labelPosition p {
margin:0;
}

.labelPrice {
	margin-left: 0.1rem;
	margin-right:1rem;
}

.labelPrice p {
	margin:0;
}
.labelPercentage p {
margin: 0;
margin-left: 4rem;
} 
.amount {
	font-size: 1.5rem;
	color: #a0a0a0;
	text-align: center;
	margin-top: 0px;
}

.bench {
	display: block;

	margin: 0;
}

.logotype {
	width: 200px;
}

.SwitchIcon {
	font-size:0.5em;
}

.clicked {
	font-weight: 900;
}

.clickable:hover {
	cursor:pointer;

}